.container>div {
  padding: 10px;
  text-align: top;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  width: 10vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
}

.container>div:nth-child(1) {
  background-color: #96ceb4;
}

.container>div:nth-child(2) {
  background-color: #ff6f69;
}

.container>div:nth-child(3) {
  background-color: #88d8b0;
}

.container>div:nth-child(4) {
  background-color: #ff0000;
}
