.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  background-image: url(https://www.theatlantic.com/politics/archive/2016/09/its-not-easy-being-green/499892/);
}

html, body {
  background-color: #ffeead;
  margin: 10px;
  background-image: url(https://www.theatlantic.com/politics/archive/2016/09/its-not-easy-being-green/499892/);
}

.container>div:nth-child(1) {
  background-color: #96ceb4;
}

.container>div:nth-child(2) {
  background-color: Red;
}

.container>div:nth-child(3) {
  background-color: Green;
}

.container>div:nth-child(4) {
  background-color: blue;
}

.container>div:nth-child(5) {
  background-color: Orange;
}