.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

body {
  display: grid;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: minmax(200px, 3fr) 9fr;
  grid-template-areas: "header header"
                      "nav    content"
                      "nav    footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}

.container>div:nth-child(1) {
  background-color: #96ceb4;
}

.container>div:nth-child(2) {
  background-color: #ff6f69;
}

.container>div:nth-child(3) {
  background-color: #88d8b0;
}

.container>div:nth-child(4) {
  background-color: #ff0000;
}
